/**
 * Header
 */
 
body {
    @include font-size(14px);
}

#wrapper-navbar {
    background-color: $color_white;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

.navbar {
    padding: 0.5rem 0.9375rem;
    margin: 0 auto;
    //background-color: $color_white !important;
    background-color: transparent !important;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    
    &.collapse-active,
    &.search-collapse-active {
        padding: 0.5rem 0.9375rem 0 !important;
    }
    
    .navbar-brand {
        width: 80px;
        margin-right: 0;
        
        .img-fluid {
            -webkit-transition: all 0.25s ease-in-out 0s;
            -moz-transition: all 0.25s ease-in-out 0s;
            -o-transition: all 0.25s ease-in-out 0s;
            transition: all 0.25s ease-in-out 0s;
        }
        
        .img-fluid.white-version {
            display: none;
        }
    }
    
    .quitline {
        display: none;
        
        .quitline-no {
            width: 230px;
        }
        
        .quitline-no.white-version {
            display: none;
        }
    }
    
    .craving-link {
        display: block;
        position: absolute;
        margin-top: -16px;
        font-family: $font-family-secondary;
        font-weight: 600;
        line-height: 1;
        color: $color_secondary;
        
        .warning-icon {
            display: block;
            float: left;
            margin-top: 2px;
            margin-right: 3px;
            width: 28px;
            height: 24px;
            background: url('../images/warning-icon.png') left center no-repeat;
            background-size: 25px auto;
            
            &.white-version {
                display: none;
                background-image: url('../images/warning-icon-white.png');
            }
        }
    }
    
    .craving-link-mobile {
        display: block;
        position: relative;
        width: 105px;
        
        .craving-link {
            width: 100%;
            @include font-size(13px);
            margin-top: -13px;
        }
    }
    
    .right-controls {
        display: inline-block;
        position: relative;
        width: 70px;
        
        .craving-link {
            display: none;
            right: 85px;
            width: 150px;
        }
        
        .search-toggler {
            display: block;
            position: absolute;
            right: 47px;
            z-index: 13;
            margin-top: -15px;
            height: 30px;
            width: 22px;
            -webkit-transition: all 0.25s ease-in-out 0s;
            -moz-transition: all 0.25s ease-in-out 0s;
            -o-transition: all 0.25s ease-in-out 0s;
            transition: all 0.25s ease-in-out 0s;
        }
        
        .search-toggler .fa {
            margin-top: 6px;
            @include font-size(19px);
            color: $color_primary;
        }
        
        .search-toggler .fa::after {
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 22px;
            width: 22px;
            background: url('../images/close-icon.png') center center no-repeat;
            background-size: cover;
        }
        
        .search-toggler .fa.close-button {
            position: relative;
            height: 22px;
            width: 22px;
        }
        
        .search-toggler .fa.close-button::before {
            display: none;
        }
        
        .search-toggler .fa.close-button::after {
            display: block;
        }
    }
    
    .right-controls.menu-active {
        .search-toggler .fa {
            color: $color_white;
        }
        
        .navbar-toggler .hamburger-button > span {
            background-color: $color_white;
        }
        
        /*
        .navbar-toggler line {
            stroke: $color_white;
        }*/
    }
    
    .right-controls.searchform-active {
        .search-toggler {
            right: 0;
        }
        
        .search-toggler .fa {
            @include font-size(24px);
            color: $color_white;
        }
        
        .navbar-toggler {
            display: none;
        }
    }
    
    .search-form-collapse {
        display: none !important;
        left: 0;
        /*position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        flex-basis: 100%;
        flex-grow: 1;
        // For always expanded or extra full navbars, ensure content aligns itself
        // properly vertically. Can be easily overridden with flex utilities.
        align-items: center;
        background-color: $color_primary;*/
        z-index: 12 !important;
        
        & > .search-form-inner {
            display: flex;
            height: 100%;
            align-content: center;
            align-items: center;
            justify-content: center;
        }
        
        &.show {
            display: block !important;
        }
    }
    
    .search-form-collapse:not(.show) {
        display: none;
    }
}

.navbar-toggler {
    padding: 0;
    margin-top: -15px;
    border: none;
    
    .hamburger-button {
        display: block;
        position: relative;
        margin-top: 6px;
        width: 28px;
        height: 19px;
        
        > span {
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $color_primary;
            /*-webkit-transition: .4s;
            -moz-transition: .4s;
            -o-transition: .4s;
            transition: .4s;*/
        }
        
        > span:nth-child(1) {
            top: 0;
        }
        
        > span:nth-child(2) {
            top: calc(100% - 11px); //half of button height plus height of line (span)
            
            /*-webkit-transition: 0s .4s;
            -moz-transition: 0s .4s;
            -o-transition: 0s .4s;
            transition: 0s .4s;*/
        }
        
        > span:nth-child(3) {
            top: calc(100% - 3px);
        }
        
        > span:nth-child(1),
        > span:nth-child(3) {
            -webkit-transition: transform .2s, top .2s .2s;
            -moz-transition: transform .2s, top .2s .2s;
            -o-transition: transform .2s, top .2s .2s;
            transition: transform .2s, top .2s .2s;
        }
    }
    
    /*svg {
        width: 30px;
        height: 30px;
    }
    
    line {
        stroke: $color_primary;
        -webkit-transition: all 0.25s ease-in-out 0s;
        -moz-transition: all 0.25s ease-in-out 0s;
        -o-transition: all 0.25s ease-in-out 0s;
        transition: all 0.25s ease-in-out 0s;
    }*/
    
    &:not(.collapsed) {
        .hamburger-button {
            height: 25px;
            margin-top: 3px;
            
            > span:nth-child(1) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            
            > span:nth-child(2) {
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
                
                -webkit-transition: 0s .2s;
                -moz-transition: 0s .2s;
                -o-transition: 0s .2s;
                transition: 0s .2s;
            }
            
            > span:nth-child(3) {
                -webkit-transition: rotate(-45deg);
                -moz-transition: rotate(-45deg);
                -o-transition: rotate(-45deg);
                transform: rotate(-45deg);
            }
            
            > span:nth-child(1),
            > span:nth-child(3) {
                top: calc(100% - 13px);
                -webkit-transition: top .2s, transform .2s .2s;
                -moz-transition: top .2s, transform .2s .2s;
                -o-transition: top .2s, transform .2s .2s;
                transition: top .2s, transform .2s .2s;
            }
        }
    }
    
    /*
    &:not(.collapsed) line {
        &.top {
             -webkit-transform: translateY(7px);
            -moz-transform: translateY(7px);
            -ms-transform: translateY(7px);
            -o-transform: translateY(7px);
            transform: translateY(7px);
            
            -webkit-transform: rotate(45deg) translate3d(4px, -4px, 0);
            -moz-transform: rotate(45deg) translate3d(4px, -4px, 0);
            -ms-transform: rotate(45deg) translate3d(4px, -4px, 0);
            -o-transform: rotate(45deg) translate3d(4px, -4px, 0);
            transform: rotate(45deg) translate3d(4px, -4px, 0);
        }
        
        &.mid {
            opacity: 0;
        }
        
        &.bot {
            -webkit-transform: rotate(-45deg) translate3d(-12px, 0, 0);
            -moz-transform: rotate(-45deg) translate3d(-12px, 0, 0);
            -ms-transform: rotate(-45deg) translate3d(-12px, 0, 0);
            -o-transform: rotate(-45deg) translate3d(-12px, 0, 0);
            transform: rotate(-45deg) translate3d(-12px, 0, 0);
        }
    }*/
}

#searchform {
    position: relative;
    min-width: 250px;
    
    .sr-only {
        display: none;
    }
    
    .input-group {
        display: block;
        text-align: center;
        height: 100px;
        
        .field {
            position: absolute;
            top: 0;
            left: 50%;
            min-width: 250px;
            font-family: $font-family-secondary;
            text-align: center;
            color: $color_white;
            background-color: transparent;
            @include border-radius(0);
            @include font-size(23px);
            border: none;
            border-bottom: 3px solid $color_white;
            -webkit-transition: all 0.25s ease-in-out 0s;
            -moz-transition: all 0.25s ease-in-out 0s;
            -o-transition: all 0.25s ease-in-out 0s;
            transition: all 0.25s ease-in-out 0s;
            
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }
        
        .field::placeholder {
            color: $color_placeholder;
        }
        
        .field:focus {
            width: 300px;
            @include box-shadow(none);
        }
        
        .input-group-append {
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            transform: translate(-50%, 0);
        }
        
        .search-submit {
            display: inline-block;
            width: 35px;
            height: 35px;
            padding: 0;
            color: $color_white;
            background-color: transparent;
            border: none;
        }
    }
    
    .input-group .search-submit {
        .circle-arrow {
            width: 100%;
            height: 100%;
            stroke: currentColor;
            //transform: rotate(90deg);
        }
        
        .circle-arrow .circle-arrow__arrow {
            -webkit-transition: stroke .12s cubic-bezier(.7,0,.3,1);
            -moz-transition: stroke .12s cubic-bezier(.7,0,.3,1);
            -o-transition: stroke .12s cubic-bezier(.7,0,.3,1);
            transition: stroke .12s cubic-bezier(.7,0,.3,1);
        }
        
        .circle-arrow .circle-arrow__circle {
            stroke-dasharray: 95;
            stroke-dashoffset: 95;
            -webkit-transition: stroke-dashoffset .3s ease;
            -moz-transition: stroke-dashoffset .3s ease;
            -o-transition: stroke-dashoffset .3s ease;
            transition: stroke-dashoffset .3s ease;
        }
        
        &:hover .circle-arrow {
            //transform: translate3d(5px, 0, 0);
        }
        
        &:hover .circle-arrow .circle-arrow__circle {
            stroke-dashoffset: 0;
        }
    }
}

.home .fixed-top:not(.sticky-header) {
    background-color: transparent !important;
    
    .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
        //background-color: transparent !important;
    }
    
    .navbar .navbar-brand {
        width: 80px;
        
        .img-fluid.white-version {
            display: block;
        }
        
        .img-fluid:not(.white-version) {
            display: none;
        }
    }
    
    .navbar .quitline {
        .quitline-no.white-version {
            display: block;
        }
        
        .quitline-no:not(.white-version) {
            display: none;
        }
    }
    
    .navbar .craving-link {
        color: $color_white;
        
        .warning-icon.white-version {
            display: block;
        }
        
        .warning-icon:not(.white-version) {
            display: none;
        }
    }
    
    .navbar .right-controls {
        .search-toggler .fa {
            color: $color_white;
        }
        
        .navbar-toggler .hamburger-button > span {
            background-color: $color_white;
        }
        
        /*
        .navbar-toggler line {
            stroke: $color_white;
        }
        */
    }
}

/*.sticky-header .navbar {
    
    .navbar-brand {
        width: 90px;
    }
}*/

#navbarNavDropdown {
    display: block !important;
    left: 100%;
}

.navbar-expand-md {
    .navbar-toggler {
        display: block;
        position: absolute;
        right: 0;
        z-index: 11;
    }
    
    .navbar-collapse {
        overflow: hidden;
        display: none !important;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $color_primary;
        z-index: 10;
        
        &.show {
            display: block !important;
        }
        
        .navbar-image {
            display: none;
        }
        
        .navbar-menus {
            height: 100%;
        }
        
        .navbar-menus .navbar-menus-inner {
            height: calc(100% - 80px);
            margin: 60px 20px 0 20px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
        
        .navbar-menus .navbar-menus-inner .navbar-menus-wrapper {
            margin: 10px;
        }
        
        .navbar-menus h3 {
            position: relative;
            padding-bottom: 6px;
            @include font-size(24px);
            font-family: $font-family-secondary;
            color: $color-white;
        }
        
        .navbar-menus h3::after {
            position: absolute;
            left: 0; 
            bottom: 0;
            content: '';
            height: 2px;
            width: 150px;
            background-color: $color-white;
        }
        
        .navbar-menus .quittas-menu {
            padding: 0;
            margin: 0 0 30px 0;
            list-style: none;
        }
        
        .navbar-menus .quittas-menu > li {
            margin-bottom: 4px;
        }
        
        .navbar-menus .quittas-menu > li > a {
            position: relative;
            display: block;
            @include font-size(16px);
            font-family: $font-family-secondary;
            font-weight: 500;
            color: $color-white;
            text-decoration: none;
        }
        
        .navbar-menus .quittas-menu > li > a::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $color-white;
            visibility: hidden;
            
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            
            transform-origin: top left;
        }
        
        .navbar-menus .quittas-menu > li > a:hover::before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1);
        }
        
        /*.navbar-menus .quittas-menu > li > a:hover {
            text-decoration: underline;
        }*/
        
        .navbar-menus .quitline {
            display: block !important;
            margin-top: 20px;
        }
        
        .navbar-menus .quitline .quitline-no-wrapper {
            text-align: center;
        }
        
        .navbar-menus .quitline-no {
            display: block !important;
            margin: 0 auto;
            width: 200px;
        }
        
        .navbar-menus .quitline-no > img {
            display: block;
            width: 100%;
            height: auto;
        }
        
        .navbar-menus .downloadables {
            margin-top: 20px;
        }
        
        .navbar-menus .downloadables .downloadable {
            @include font-size(13px);
            font-family: $font-family-primary;
            font-weight: 700;
            color: $color-white;
            text-align: center;
        }
        
        .navbar-menus .downloadable:first-child {
            margin-bottom: 20px;
        }
        
        .navbar-menus .downloadable > ul {
            display: block;
            padding: 0;
            margin: 3px 0 0;
            list-style: none;
        }
        
        .navbar-menus .downloadable > ul > li {
            height: 30px;
            display: inline-block;
            vertical-align: middle;
        }
        
        .navbar-menus .downloadable > ul > li img {
            display: block;
            height: 100%;
            width: auto;
        }
    }
}


/**
 * Main Content
 */

h1 {
    @include font-size(42px);
    font-family: $font-family-secondary;
    font-weight: 500;
}

h2 {
    @include font-size(28px);
    font-family: $font-family-secondary;
    font-weight: bold;
}

p {
    font-family: $font-family-primary;
}

a {
    font-family: $font-family-primary;
    font-weight: 400;
    color: $color_primary;
}

a:hover {
    color: $color_primary;
}

a.button-link {
    font-family: $font-family-secondary;
    font-weight: bold;
    color: $color_secondary;
}

a.button-link:hover {
    color: $color_secondary;
    text-decoration: none;
}

.blue {
    color: $color_primary;
}

.red {
    color: $color_secondary;
}

.bg-blue {
    background-color: $color_primary;
}

.bg-red {
    background-color: $color_secondary;
}

.font-primary {
    font-family: $font-family-primary;
}

.font-secondary {
    font-family: $font-family-secondary;
}

#page-wrapper {
    padding: 0;
    font-family: $font-family-primary;
    @include font-size(18px);
    line-height: 1.7;
}

#page-wrapper .container-fluid {
    //padding-left: 0;
    //padding-right: 0;
}

.section {
    margin-left: -15px;
    margin-right: -15px;
}

.container {
    padding: 0 1.875rem;
}

.content-wrapper {
    width: 100%;
}

.content-wrapper-inner {
}

.container-inner {
    //margin: 0 50px;
}


/**
 * Footer
 */
#wrapper-footer {
    padding-top: 60px;
    padding-bottom: 0;
}

.footer-container {
    &.container {
        padding: 20px 0;
        border-top: 2px solid $color_black;
        font-family: $font-family-primary;
        font-weight: 300;
        @include font-size(15px);
        line-height: 1.25;
    }

    a {
        color: inherit;
        font-family: $font-family-primary;
        font-weight: 300;
        text-decoration: underline;
    }
    
    .site-footer {
        margin-top: 20px;
    }
    
    .site-info {
        text-align: center;
    }
    
    .downloadable {
        text-align: center;
        font-weight: bold;
        
        ul {
            display: block;
            list-style: none;
            margin: 5px 0 0;
            padding: 0;
        }
        
        ul > li {
            height: 30px;
            display: inline-block;
            vertical-align: middle;
        }
        
        ul > li img {
            height: 100%;
            width: auto;
        }
    }
    
    .downloadable:first-child {
        margin-bottom: 20px;
    }
    
    .social-buttons {
        overflow: hidden;
        margin-top: 20px;
        text-align: center;
        
        > ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        > ul > li {
            display: inline-block;
            vertical-align: middle;
        }
        
        .social-button {
            display: block;
            width: 100%;
            height: auto;
        }
        
        > ul > li.facebook-button {
            width: 30px;
        }
        
        > ul > li.youtube-button {
            width: 55px;
            margin-left: 10px;
        }
    }
    
    .bottom-info {
        margin-top: 10px;
        
        .sponsors {
            margin-top: 20px;
            text-align: center;
        }
        
        .sponsors > ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        .sponsors > ul > li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }
        
        .sponsors .sponsor {
            display: block;
            //width: 100%;
            //height: auto;
        }
        
        .site-info {
            margin-top: 20px;
        }
        
        .site-info > .footer-links {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        .site-info > .footer-links > li {
            display: inline-block;
            vertical-align: middle;
        }
        
        .site-info > .footer-links > li::before {
            content: '|';
        }
        
        .site-info > .footer-links > li > a {
            padding: 0 2px 0 5px;
            text-decoration: none;
        }
        
        .site-info > .footer-links > li > a:hover {
            text-decoration: underline;
        }
    }
}

/**
 * Blocks
 */
 
/*Hero Image*/
.hero-image {
    position: relative; 
    min-height: 595px;
    max-height: 1007px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-image .play-button {
    position: absolute;
    bottom: 8%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.hero-image .play-button > a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

.hero-image .play-button > a > span {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
    background: url('../images/play-video-icon.png') center center no-repeat;
    background-size: 40px auto;
}

.hero-image .scroll-down-button {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.hero-image .scroll-down-button > a {
    display: block;
    text-decoration: none;
}

.hero-image .scroll-down-button > a > span {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    background: url('../images/scroll-down-arrow.png') center center no-repeat;
    background-size: 35px auto;
}

/*Heading*/
.title-small {
    display: block;
    @include font-size(24px);
    font-family: $font-family-secondary;
    line-height: 1.2;
}

.with-underline {
    margin-bottom: 16px;
}

.underline {
    margin: 0 auto;
    height: 5px;
}

/*Quiz Section*/
.quiz-section {
    background-color: #e5e5e5;
    border-bottom: 5px solid #ec1f30;
}
.quiz-section .quiz-section-bg {
    overflow: hidden;
}

.quiz-section .quiz-section-content {
    margin: 50px 15px;
}

.quiz-section .quiz-section-content .quiz-section-main {
    margin-top: 30px;
}

.quiz-section .quiz-section-content .quiz-section-main > h2 {
    margin-bottom: 16px;
}

.quiz-section .quiz-section-content .quiz-section-button {
    margin-top: 60px;
}

.quiz-section .quiz-section-content .quiz-section-button > a {
    position: relative;
    padding-right: 50px;
    @include font-size(28px);
    color: $color_secondary;
}

.quiz-section .quiz-section-content .quiz-section-button > a:hover {
    text-decoration: none;
}

.quiz-section .quiz-section-content .quiz-section-button > a::after {
    content: '';
    position: absolute;
    top: -2px;
    right: 0;
    width: 40px;
    height: 40px;
    background: url('../images/circle-arrow-red.png') center right no-repeat;
    background-size: auto 100%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* Article Section */
.article-section {
    display: flex;
    flex-wrap: wrap;
}

.article-section .col {
    padding-left: 0;
    padding-right: 0;
}

.article-section .article-section-image {
    text-align: center;
}

.article-section .article-section-image img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.article-section .article-section-content {
    margin-top: 10px;
}

.article-section .article-section-content .article-section-small-heading {
    font-family: $font_family_secondary;
    display: block;
    @include font-size(24px);
    color: $color_secondary;
}

.article-section .article-section-content .article-section-heading-wrapper {
    overflow: hidden;
}

.article-section .article-section-content .article-section-heading {
    margin-bottom: 20px;
}


.article-section .article-section-content p {
    font-family: $font_family_secondary;
    @include font-size(24px);
}

.article-section .article-section-content .article-section-button {
    padding-top: 10px;
    @include font-size(21px);
}

.article-section .article-section-button > a span {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: 3px;
}

.article-section .article-section-button .circle-arrow {
    width: 100%;
    height: 100%;
    stroke: currentColor;
}

.article-section .article-section-button .circle-arrow .circle-arrow__arrow {
    -webkit-transition: stroke .12s cubic-bezier(.7,0,.3,1);
    -moz-transition: stroke .12s cubic-bezier(.7,0,.3,1);
    -o-transition: stroke .12s cubic-bezier(.7,0,.3,1);
    transition: stroke .12s cubic-bezier(.7,0,.3,1);
}

.article-section .article-section-button .circle-arrow .circle-arrow__circle {
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
    -webkit-transition: stroke-dashoffset .3s ease;
    -moz-transition: stroke-dashoffset .3s ease;
    -o-transition: stroke-dashoffset .3s ease;
    transition: stroke-dashoffset .3s ease;
}

.article-section .article-section-button > a:hover .circle-arrow .circle-arrow__circle {
    stroke-dashoffset: 0;
}



//small - 576
@include media-breakpoint-up(sm) {
    .navbar {
        max-width: 540px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .container {
        padding: 0 0.9375rem;
    }
}


//medium - 768
@include media-breakpoint-up(md) {
    body {
        @include font-size(16px);
    }
    
    .content-wrapper {
    }

    .content-wrapper-inner {
        margin: 0 50px;
    }
    
    .container-inner {
        margin: 0 50px;
    }
    
    .navbar {
        //padding: 0.5rem 2rem;
        padding: 0.5rem 0;
        max-width: 720px;
        
        &.collapse-active,
        &.search-collapse-active {
            padding: 0.5rem 0 !important;
            
            .navbar-brand {
                width: 100px !important;
            }
        }
        
        .navbar-brand {
            width: 100px;
            margin-right: 1rem;
        }
        .quitline {
            display: inline-block;
        }
        
        .craving-link .warning-icon {
            width: 34px;
            height: 30px;
            margin-right: 6px;
            background-size: 29px auto;
        }
        
        .craving-link-mobile {
            display: none;
        }
        
        .right-controls {
            width: 235px;
            
            .craving-link {
                display: block;
            }
            
            .search-toggler {
                right: 53px;
            }
        }
    }
    
    .home .fixed-top:not(.sticky-header) {
        .navbar {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        .navbar .navbar-brand {
            width: 150px;
        }
    }
    
    #searchform {
        .input-group {
            .field:focus {
                width: 600px;
            }
        }
    }
    
    .navbar-expand-md {
        .navbar-collapse {
            .navbar-image {
                display: block;
                //position: relative;
                width: 50%;
                height: 100%;
                overflow: hidden;
                //background-image: url('../images/menu-image.jpg');
                //background-position: center center;
                //background-repeat: no-repeat;
                //background-size: cover;
                text-align: center;
            }
            
            .navbar-image .navbar-image-wrapper {
                overflow: hidden;
                width: 100%;
                height: 100%;
                background-image: url('../images/menu-image.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -o-transition: all 1s;
                transition: all 1s;
                
                -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
                -moz-transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
                -ms-transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
                -o-transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
                transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
                
                transform-style: preserve-3d;
            }
            
            .navbar-image .navbar-image-wrapper.animate {
                -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
                -moz-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
                -ms-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
                -o-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
            }
            
            .navbar-image .navbar-image-wrapper > img {
                display: block;
                max-width: 350px;
                margin: 30px auto 0;
                //position: absolute;
                //top: 30px;
                //left: 50%;
                //transform: translate(-50%, 0);
            }
            
            .navbar-menus {
                width: 50%;
            }
            
            .navbar-menus .navbar-menus-inner {
                height: calc(100% - 100px);
                margin: 60px 40px 0 40px;
            }
            
            .navbar-menus .quittas-menu > li {
                display: block;
                margin-bottom: 0;
                overflow: hidden;
            }
            
            .navbar-menus .quittas-menu > li > a {
                float: left;
            }
            
            .navbar-menus .quitline {
                margin-top: 50px;
            }
            
            .navbar-menus .downloadables {
                margin-top: 30px;
            }
            
            .navbar-menus .downloadable:first-child {
                margin-bottom: 0;
            }
        }
    }
    
    #wrapper-footer {
        padding-bottom: 20px;
    }
    
    .footer-container {
        .site-footer {
            margin-top: 0;
        }
        .site-info {
            text-align: left;
        }
        
        .downloadable {
            text-align: right;
        }
        
        .social-buttons {
            margin-top: 30px;
            text-align: left;
        }
        
        .bottom-info {
            .sponsors {
                width: 45%;
                margin-top: -35px;
            }
            
            .site-info {
                width: 55%;
                margin-top: 0;
            }
        }
    }
    
    /**
     * Blocks
     */
     
    /*Hero Image*/
    .hero-image .play-button {
        bottom: 26%;
    }

    .hero-image .play-button > a > span {
        width: 50px;
        height: 50px;
        background-size: 50px auto;
    }

    .hero-image .scroll-down-button {
        display: block;	
    }
    
    /*Quiz Section*/
    .quiz-section .quiz-section-content {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .quiz-section .quiz-section-content .quiz-section-main {
        margin-top: 60px;
    }
    
    /*Article Content*/
    .article-section .article-section-content {
        margin-top: 0;
    }
    .article-section .article-section-content .article-section-button {
        padding-top: 10px;
    }
}

@include media-breakpoint-up(lg) {
    .navbar {
        max-width: 960px;
    }
    
    /**
     * Blocks
     */
     
    /*Quiz Section*/
    .quiz-section .quiz-section-bg {
        background-image: url('../images/man_smoking.png'), url('../images/woman_smoking.png');
        background-position: left 10px bottom 5px, right 20px bottom 5px;
        background-repeat: no-repeat, no-repeat;
        background-size: auto 80%, auto 80%;
    }

    .quiz-section .quiz-section-content {
        max-width: 50.3875%;
        margin: 80px auto;
    }
}

@include media-breakpoint-up(xl) {
    .navbar {
        max-width: 1140px;
    }
}

//2XL
@media (min-width: 1350px) {
    .navbar {
        max-width: 1290px;
    }
    
    .container {
        max-width: 1290px;
    }
}