/**
 * Header
 */
 
body {
    @include font-size(14px);
}

#wrapper-navbar {
    background-color: $color_white;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

.navbar {
    padding: 0.5rem 0.9375rem;
    margin: 0 auto;
    //background-color: $color_white !important;
    background-color: transparent !important;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    
    .navbar-brand {
        width: 80px;
        margin-right: 0;
        
        .img-fluid {
            -webkit-transition: all 0.25s ease-in-out 0s;
            -moz-transition: all 0.25s ease-in-out 0s;
            -o-transition: all 0.25s ease-in-out 0s;
            transition: all 0.25s ease-in-out 0s;
        }
        
        .img-fluid.white-version {
            display: none;
        }
    }
    
    .quitline {
        display: none;
        
        .quitline-no {
            width: 230px;
        }
        
        .quitline-no.white-version {
            display: none;
        }
    }
    
    .craving-link {
        display: block;
        position: absolute;
        margin-top: -16px;
        font-family: $font-family-secondary;
        font-weight: 600;
        line-height: 1;
        color: $color_secondary;
        
        .warning-icon {
            display: block;
            float: left;
            margin-top: 2px;
            margin-right: 3px;
            width: 28px;
            height: 24px;
            background: url('../images/warning-icon.png') left center no-repeat;
            background-size: 25px auto;
            
            &.white-version {
                display: none;
                background-image: url('../images/warning-icon-white.png');
            }
        }
    }
    
    .craving-link-mobile {
        display: block;
        position: relative;
        width: 105px;
        
        .craving-link {
            width: 100%;
            @include font-size(13px);
            margin-top: -13px;
        }
    }
    
    .right-controls {
        display: inline-block;
        position: relative;
        width: 70px;
        
        .craving-link {
            display: none;
            right: 85px;
            width: 150px;
        }
        
        .search-toggler {
            display: block;
            position: absolute;
            right: 47px;
            z-index: 13;
            margin-top: -15px;
            height: 30px;
            width: 22px;
            -webkit-transition: all 0.25s ease-in-out 0s;
            -moz-transition: all 0.25s ease-in-out 0s;
            -o-transition: all 0.25s ease-in-out 0s;
            transition: all 0.25s ease-in-out 0s;
        }
        
        .search-toggler .fa {
            margin-top: 6px;
            @include font-size(19px);
            color: $color_primary;
        }
    }
    
    .right-controls.menu-active {
        .search-toggler .fa {
            color: $color_white;
        }
        
        .navbar-toggler line {
            stroke: $color_white;
        }
    }
    
    .right-controls.searchform-active {
        .search-toggler {
            right: 0;
        }
        
        .search-toggler .fa {
            @include font-size(24px);
            color: $color_white;
        }
        
        .navbar-toggler {
            display: none;
        }
    }
    
    .search-form-collapse {
        /*position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        flex-basis: 100%;
        flex-grow: 1;
        // For always expanded or extra full navbars, ensure content aligns itself
        // properly vertically. Can be easily overridden with flex utilities.
        align-items: center;
        background-color: $color_primary;*/
        z-index: 12 !important;
        
        & > .search-form-inner {
            display: flex;
            height: 100%;
            align-content: center;
            align-items: center;
            justify-content: center;
        }
    }
    
    .search-form-collapse:not(.show) {
        display: none;
    }
}

.navbar-toggler {
    padding: 0;
    margin-top: -15px;
    border: none;
    
    svg {
        width: 30px;
        height: 30px;
    }
    
    line {
        stroke: $color_primary;
        -webkit-transition: all 0.25s ease-in-out 0s;
        -moz-transition: all 0.25s ease-in-out 0s;
        -o-transition: all 0.25s ease-in-out 0s;
        transition: all 0.25s ease-in-out 0s;
    }
    
    &:not(.collapsed) line {
        &.top {
            -webkit-transform: rotate(45deg) translate3d(4px, -4px, 0);
            -moz-transform: rotate(45deg) translate3d(4px, -4px, 0);
            -ms-transform: rotate(45deg) translate3d(4px, -4px, 0);
            -o-transform: rotate(45deg) translate3d(4px, -4px, 0);
            transform: rotate(45deg) translate3d(4px, -4px, 0);
        }
        
        &.mid {
            opacity: 0;
        }
        
        &.bot {
            -webkit-transform: rotate(-45deg) translate3d(-12px, 0, 0);
            -moz-transform: rotate(-45deg) translate3d(-12px, 0, 0);
            -ms-transform: rotate(-45deg) translate3d(-12px, 0, 0);
            -o-transform: rotate(-45deg) translate3d(-12px, 0, 0);
            transform: rotate(-45deg) translate3d(-12px, 0, 0);
        }
    }
}

#searchform {
    position: relative;
    min-width: 250px;
    
    .sr-only {
        display: none;
    }
    
    .input-group {
        display: block;
        text-align: center;
        height: 100px;
        
        .field {
            position: absolute;
            top: 0;
            left: 50%;
            min-width: 250px;
            font-family: $font-family-secondary;
            text-align: center;
            color: $color_white;
            background-color: transparent;
            @include border-radius(0);
            @include font-size(23px);
            border: none;
            border-bottom: 3px solid $color_white;
            -webkit-transition: all 0.25s ease-in-out 0s;
            -moz-transition: all 0.25s ease-in-out 0s;
            -o-transition: all 0.25s ease-in-out 0s;
            transition: all 0.25s ease-in-out 0s;
            transform: translate(-50%, 0);
        }
        
        .field::placeholder {
            color: $color_placeholder;
        }
        
        .field:focus {
            width: 300px;
            @include box-shadow(none);
        }
        
        .input-group-append {
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            transform: translate(-50%, 0);
        }
        
        .search-submit {
            display: inline-block;
            width: 35px;
            height: 35px;
            padding: 0;
            color: $color_white;
            background-color: transparent;
            border: none;
        }
    }
    
    .input-group .search-submit {
        .circle-arrow {
            width: 100%;
            height: 100%;
            stroke: currentColor;
            //transform: rotate(90deg);
        }
        
        .circle-arrow .circle-arrow__arrow {
            -webkit-transition: stroke .12s cubic-bezier(.7,0,.3,1);
            -moz-transition: stroke .12s cubic-bezier(.7,0,.3,1);
            -o-transition: stroke .12s cubic-bezier(.7,0,.3,1);
            transition: stroke .12s cubic-bezier(.7,0,.3,1);
        }
        
        .circle-arrow .circle-arrow__circle {
            stroke-dasharray: 95;
            stroke-dashoffset: 95;
            -webkit-transition: stroke-dashoffset .3s ease;
            -moz-transition: stroke-dashoffset .3s ease;
            -o-transition: stroke-dashoffset .3s ease;
            transition: stroke-dashoffset .3s ease;
        }
        
        &:hover .circle-arrow {
            //transform: translate3d(5px, 0, 0);
        }
        
        &:hover .circle-arrow .circle-arrow__circle {
            stroke-dashoffset: 0;
        }
    }
}

.home .fixed-top:not(.sticky-header) {
    background-color: transparent !important;
    
    .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
        //background-color: transparent !important;
    }
    
    .navbar .navbar-brand {
        width: 80px;
        
        .img-fluid.white-version {
            display: block;
        }
        
        .img-fluid:not(.white-version) {
            display: none;
        }
    }
    
    .navbar .quitline {
        .quitline-no.white-version {
            display: block;
        }
        
        .quitline-no:not(.white-version) {
            display: none;
        }
    }
    
    .navbar .craving-link {
        color: $color_white;
        
        .warning-icon.white-version {
            display: block;
        }
        
        .warning-icon:not(.white-version) {
            display: none;
        }
    }
    
    .navbar .right-controls {
        .search-toggler .fa {
            color: $color_white;
        }
        
        .navbar-toggler line {
            stroke: $color_white;
        }
    }
}

/*.sticky-header .navbar {
    
    .navbar-brand {
        width: 90px;
    }
}*/

.navbar-expand-md {
    .navbar-toggler {
        display: block;
        position: absolute;
        right: 0;
        z-index: 11;
    }
    
    .navbar-collapse {
        display: none !important;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $color_primary;
        z-index: 10;
        
        &.show {
            display: block !important;
        }
    }
}


/**
 * Main Content
 */

h1 {
    @include font-size(42px);
    font-family: $font-family-secondary;
    font-weight: 500;
}

h2 {
    @include font-size(28px);
    font-family: $font-family-secondary;
    font-weight: bold;
}

p {
    font-family: $font-family-primary;
}

a {
    font-family: $font-family-secondary;
    font-weight: bold;
    color: $color_secondary;
}

a:hover {
    color: $color_secondary;
    text-decoration: none;
}

.blue {
    color: $color_primary;
}

.red {
    color: $color_secondary;
}

.bg-blue {
    background-color: $color_primary;
}

.bg-red {
    background-color: $color_secondary;
}

.font-primary {
    font-family: $font-family-primary;
}

.font-secondary {
    font-family: $font-family-secondary;
}

#page-wrapper {
    padding: 0;
    font-family: $font-family-primary;
    @include font-size(18px);
    line-height: 1.7;
}

#page-wrapper .container-fluid {
    //padding-left: 0;
    //padding-right: 0;
}

.section {
    margin-left: -15px;
    margin-right: -15px;
}

.container {
    padding: 0 1.875rem;
}

 /**
 * Footer
 */
#wrapper-footer {
    padding-top: 60px;
}

.footer-container.container {
    padding: 20px 0;
    border-top: 2px solid $color_black;
    font-family: $font-family-primary;
    font-weight: 300;
    @include font-size(15px);
    line-height: 1.25;
}

.footer-container a {
    color: inherit;
    font-family: $font-family-primary;
    font-weight: 300;
    text-decoration: underline;
}


//small - 576
@include media-breakpoint-up(sm) {
    .navbar {
        max-width: 540px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .container {
        padding: 0 0.9375rem;
    }
}


//medium - 768
@include media-breakpoint-up(md) {
    body {
        @include font-size(16px);
    }
    .navbar {
        //padding: 0.5rem 2rem;
        padding: 0.5rem 0;
        max-width: 720px;
        
        .navbar-brand {
            width: 100px;
            margin-right: 1rem;
        }
        .quitline {
            display: inline-block;
        }
        
        .craving-link .warning-icon {
            width: 34px;
            height: 30px;
            margin-right: 6px;
            background-size: 29px auto;
        }
        
        .craving-link-mobile {
            display: none;
        }
        
        .right-controls {
            width: 235px;
            
            .craving-link {
                display: block;
            }
            
            .search-toggler {
                right: 53px;
            }
        }
    }
    
    .home .fixed-top:not(.sticky-header) {
        .navbar {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        .navbar .navbar-brand {
            width: 150px;
        }
    }
    
    #searchform {
        .input-group {
            .field:focus {
                width: 600px;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .navbar {
        max-width: 960px;
    }
}

@include media-breakpoint-up(xl) {
    .navbar {
        max-width: 1140px;
    }
}

//2XL
@media (min-width: 1350px) {
    .navbar {
        max-width: 1290px;
    }
    
    .container {
        max-width: 1290px;
    }
}