// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

//$primary: ;
$color_white: #ffffff;
$color_primary: #2e4986;
$color_secondary: #ec1f30; //#e43132
$color_placeholder: #8999ba;

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Akrobat', sans-serif;